/*Global*/
body{
    height: 100%;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.social{
    font-family: FontAwesome;
}
.wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}
h1 ,h2{
    font-family: 'Bowlby One SC', cursive;
    font-weight: normal;
}
h3 , h4, h5, h6, p, a, figcaption{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
h5{
    font-size: 0.95rem;
}
a{
    text-decoration: none;
    color: inherit;
}
.fly{
    font-family: 'Seaweed Script', cursive;
}
@media screen and (min-width: 601px) {
    .social{
        font-size: 1.3rem;
        margin: 20px 0 80px;
        a{
            transition: .1s ease-in-out;
            &:hover{
            color: #fff;
            }
            &+a{
                margin-left: 15px;
            }
        }
    }
}
